.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes background-position {
  0% {
      background-position-y: 100%;
  }
  100% {
      background-position-y: 0;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.header-animation {
  animation: background-position 20s ease-in-out infinite alternate;
  background: url(../asset/bg1.jpg) 0 100% no-repeat;
  background-size: cover;
  transition: opacity .5s cubic-bezier(0.52, 0.16, 0.24, 1);

}

.header-title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: lighter;
  line-height: 50px;
  margin: 0;
  vertical-align: top;

}

.header-title a {
  color: #fff;
  text-decoration: none;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
